.home {
  height: 100%;
  width: 100%;
  background: rgb(228, 234, 238);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  justify-items: center;
  justify-content: center;
}

pre {
  font-size: 20px;
  font-weight: bold;
}

.boxhome {
  width: 420px;
  height: 376px;
  position: relative;
  display: flex;
  background: rgba(229, 229, 229, 0.55);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: auto;
  justify-content: center;
}

.boxhome-img {
  height: 35%;
  top: 18%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.boxhome h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 60%;
}

.centerfirst {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 1000px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid green; */
}

.home button {
  background-color: rgb(222, 0, 49);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.home button:hover {
  color: #f1356d;
  transition: 0.3s;
}
